.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre_small_div {
    display: flex;
    width: 70%;
    justify-content: center;
}

.sobre_small_div:nth-child(n){
    margin: 8vh 0;
    min-width: 60vw;
}

@media(max-width: 860px){
    .sobre_small_div{
        flex-direction: column;
        align-items: center;
    }
    .sobre_small_div:nth-child(n){
        margin: 0;
    }
}