.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15vh 0;
}

.sobre_small_div {
    display: flex;
    width: 70%;
}

.sobre_small_div:nth-child(n){
    margin: 8vh;
    width: 60vw;
}

.section button{
    margin-top: 10vh;
    font-size: 1.3em;
    padding-left: 5vw;
    padding-right: 5vw;
}