.section {
    background-color: #FFE77B;
    height: 80vh;
    position: relative;
    margin-bottom: 10vh;
}

.title_area, .subtitle_depoimentos{
    position: absolute;
    bottom: 13vh;
    left: 8.8vw;
}

.title_produtos {
    position: absolute;
    bottom: 13vh;
    left: 10vw;
}
.title_area h1, .title_produtos h1, .subtitle_depoimentos h1{
    margin: 0;
    font-size: clamp(7rem, 12vw, 12.5rem);
    line-height: 0.7;
}

.title_area h2, .title_produtos h2 {
    margin: 0;
    margin-top: 3vh;
    font-size: 2.5vw;
    font-style: italic;
    font-weight: 700;
    padding-left: 8vw;
    letter-spacing: 0.045em;
}

.subtitle_depoimentos h2{
    margin: 0;
    margin-top: 4.5vh;
    font-size: 2.5vw;
    font-style: italic;
    font-weight: 700;
    padding-left: 8vw;
    letter-spacing: 0.045em;
}

@media (max-width: 860px){
    .section{
        height: 60vh;
    }
    .title_area {
        bottom: 8vh;
    }
    .title_area h1, .title_produtos h1, .subtitle_depoimentos h1{
        font-size: 5em;
    }
    .title_area h2, .title_produtos h2, .subtitle_depoimentos h2{
        font-size: 1.2em;
        padding-right: 30px;
    }
}
@media (max-width: 435px){
    .title_area h1, .title_produtos h1, .subtitle_depoimentos h1{
        font-size: 3.5em;
    }
    .title_area h2, .title_produtos h2, .subtitle_depoimentos h2{
        font-size: 1.1em
    }
}
