.navbar{
    position: fixed;
    z-index: 999;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    max-width: 52%;
    background-color: pink;
    border: #000 solid;
    border-width: 3px 0;
    box-shadow: 
    inset 3px 0 0 0 #000,
    inset -3px 0 0 0 #000;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    
}
ul {
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.pages_link{
    display: inline-block;
    padding: 18px ;
    text-decoration: none;
    color:#000 ;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    flex-shrink: 1;
}

.current_page{
    position: absolute;
    border: 3px solid #000;
    inset: 0;
}

.hover_tab * {
    transition: transform 0.15s ease-in-out;
}

.hover_tab:hover *{
    transform: scale(1.05);
}