.navbar{
    position: fixed;
    z-index: 999;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    max-width: 52%;
    background-color: pink;
    border: #000 3px solid;
    justify-content: space-around;
    align-items: center;
    
}

.pages_link{
    display: inline-block;
    padding: 18px ;
    text-decoration: none;
    color:#000 ;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    flex-shrink: 1;
}

.current_page{
    background-image: linear-gradient(
        transparent 90%, black 90%, black 100%
    );
    background-repeat: no-repeat;
    background-position-y: 52%;
    background-size: 0% 16px;

    &:hover {
        background-position: 52% 52%;
        background-size: 50% 16px;
        cursor: pointer;
    }

    transition: background-size 0.5s cubic-bezier(0.79, 0.01, 0.22, 0.99) 0s, background-position 0s;
}