.section {
    display: flex;
    flex-direction: column;
    margin: 9%;
    justify-content: space-between;
}

.section h2{
    font-size: 4.3vw;
    text-align: center;
    margin: 0 auto 3%;
}

.cards_display{
    display: flex;
    flex-shrink: 1;
    justify-content: center;
}

.card {
    width: 17vw;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    border: 3px solid #000;
    padding: 2.8vh;
}

.card:nth-of-type(2){
    margin: auto 5vw;
}

.card_info {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: space-between;
    align-content: baseline;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.card .card_info h3{
    margin: 0;
    display: inline-block;
    max-width: 35%;
    font-family: Dealing, serif;
    color: #000;
    font-feature-settings: 'swsh' on;
    font-weight: 400;
    font-size: 1.6rem;
}

.card .card_info span {
    font-size: 1.3rem;
    font-weight: 500;
}

.card img {
    width: 100%;
}

.section button {
    margin-top: 3%;
    align-self: center;
    font-size: 1.4vw;
    padding-left: 5vw;
    padding-right: 5vw;
}