.card{
    width: 100%; 
    box-sizing: border-box;
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    height: 28em;
}

.card img {
    margin: 15px;
    height: 65%;
    width: auto;
    object-fit: cover;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}
.product_name {
    font-family: Dealing, serif;
    color: #000;
    font-feature-settings: 'swsh' on;
    font-weight: 400;
    font-size: 1.5em;
    width:50%;
    margin: 0;
}

.product_price{
    font-weight: 500;
    font-size: 1.2em;
}

@media (max-width:860px){
    .card{
        height: 25em;
    }
    .product_name{
        font-size: 1.2em;
    }
    .product_price{
        font-size: 1em;
    }
}
@media (max-width:440px){
    .card{
        height:22em ;
    }
}
@media (max-width: 400px){
    .content{
        flex-direction: column;
    }
    .card{
        height: 18em;
    }
    .product_name{
        width: 100%;
        margin-bottom: 10px;
    }
}