.swiper {
 position: relative;
 padding: 0;
 
}

.swiper-slide {
  position: relative;
  height: auto; 
  display: flex;
  justify-content: center;
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 0;           
  bottom: 0;        
  height: 100%;     
  width: 10em;     
  margin: 0;        
  z-index: 10;      
  transform: none; 
  border: none;
  cursor: pointer;
  color: transparent;
}

.swiper-button-prev {
  left: 0;
  background: linear-gradient(
    to left, transparent, rgba(217, 217, 217, 0.30) 13.82%, #EED14C 164.2%
  );
}

.swiper-button-next {
  right: 0;
  background: linear-gradient(
    to right, transparent, rgba(217, 217, 217, 0.30) 13.82%, #EED14C 164.2%
  );
}

.swiper-button-prev:hover {
  background: linear-gradient(
    to left, transparent, rgba(217, 217, 217, 0.30) 13.82%, #b4960f 164.2%
  );
}
.swiper-button-next:hover {
  background: linear-gradient(
    to right, transparent, rgba(217, 217, 217, 0.30) 13.82%, #b4960f 164.2%
  );
}

@media(max-width: 860px){
  .swiper-button-prev, .swiper-button-next {
    width: 5em;
  }
}