/* sobre_wide style */
.sobre_wide {
    border: 3px solid #000;
    display: flex;
    width: 75%;
}
.sobre_wide img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
.sobre_wide .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
}
.sobre_wide .content h3{
    font-size: 2.1vw;
    margin: 0;
}
.sobre_wide .content p {
    margin: 0;
    font-size: 1.3vw;
    padding: 2vh 5.6vw 0 1.5vw;
}
.sobre_wide:last-of-type{
    flex-direction: row-reverse;
}

@media (max-width:860px){
    .sobre_wide{
        flex-direction: column-reverse;
    }
    .sobre_wide .content {
        margin: 20px 0;
    }
    .sobre_wide .content h3{
        font-size: 1.5em;
    }
    .sobre_wide .content p{
        font-size: 0.9em;
    }
    .sobre_wide:last-of-type{
        flex-direction: column-reverse;
    }
}

/* sobre_small style */

.sobre_small {
    border: 3px solid #000;
    margin: 20px;
    position: relative;
    
}
.sobre_small:first-of-type{
    margin-right: 5vw;
}
.sobre_small img{
    position: absolute;
    width: 5.8vw;
    top: -2vw;
    left: -3.8vw;
}
.sobre_small .content {
    padding: 6vh 4vw;
}
.sobre_small .content h3{
    font-size: 2.1vw;
    margin: 0;
}
.sobre_small .content p {
    margin: 0;
    font-size: 1.3vw;
    padding: 2vh 0 0 1.5vw;
}

@media (max-width: 860px){
    .sobre_small:first-of-type{
        margin-right: auto;
        margin-bottom: 0;
    }
    .sobre_small{
        margin: 40px auto;
    }
    .sobre_small img{
        width: 4em;
        top: -1.5em;
        left: -2.5em;
    }
    .sobre_small .content h3{
        font-size: 1.5em;
    }
    .sobre_small .content p {
        font-size: 0.9em;
    }
}

/*depoimentos page*/

.depoimentos {
    border: 3px solid #000;
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
    padding: 20px;
    
}
.depoimentos:first-of-type{
    margin-top: 0;
}
.depoimentos:last-of-type{
    margin-bottom: 0;
}
.depoimentos img {
    border-radius: 100%;
    width: 14vh;
    height: 100%;
    object-fit: cover;
    
}
.depoimentos .content {
    width: 78%;
    margin: 0;
    margin-top: 4vh;
    padding: 0 4vh;
}
.depoimentos .content h3{
    font-size: 1.6vw;
    display: inline-block;
    margin: 0;
    margin-bottom: 2vh;
}
.depoimentos .content p {
    display: inline-block;
    font-size: 1.2em;
    margin: 0;
}

.content_expandable{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.content_not_expanded{
    margin-bottom: 4vh;
}
.toggle_btn {
    border-radius: 40px;
    border: 2px solid #000;
    background: #FFB6C1;
    padding: 0.5em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 18vh 1vh 0; /*margin-right: 14 vh from img width + 4vh from .content lateral padding*/
}

.toggle_btn img {
    height: 2vh;
    width: auto;
    margin: 0;
}
