/* sobre_wide style */
.sobre_wide {
    border: 3px solid #000;
    display: flex;
    width: 75%;
}
.sobre_wide img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
.sobre_wide .content {
    padding: 6.5vh 0 0 3vw;
}
.sobre_wide .content h3{
    font-size: 2.1vw;
    margin: 0;
}
.sobre_wide .content p {
    margin: 0;
    font-size: 1.3vw;
    padding: 2vh 5.6vw 0 1.5vw;
}
.sobre_wide:last-of-type{
    flex-direction: row-reverse;
}

/* sobre_small style */

.sobre_small {
    border: 3px solid #000;
    margin: 20px 20px;
    position: relative;
    
}
.sobre_small:first-of-type{
    margin-right: 5vw;
}
.sobre_small img{
    position: absolute;
    width: 5.8vw;
    top: -4.5vh;
    left: -8vh;
}
.sobre_small .content {
    padding: 6vh 4vw;
}
.sobre_small .content h3{
    font-size: 2.1vw;
    margin: 0;
}
.sobre_small .content p {
    margin: 0;
    font-size: 1.3vw;
    padding: 2vh 0 0 1.5vw;
}