.section {
    border: 3px solid #000;
    box-shadow: -20px -20px 40px 0 #fff0ae, 20px 20px 20px 0 #fff0ae;
    margin: 9% 20%;
    margin-top: 0;
    display: flex;
}

.portrait_img {
    width: 50%;
    height: auto;
    object-fit: cover;
}
.landscape_img{
    display: none;
}

.content {
    margin: 35px;
}

.content h2 {
    font-size: 4.3vw;
    text-align: center;
    margin: 30px;
}

.content p {
    line-height: 1.4;
}

@media (max-width: 860px){
    .section{
        flex-direction: column;
        justify-content: center;
        margin: 9% ;
    }
    .portrait_img{
        display: none;
    }
    .landscape_img{
        display: block;
        height: 45vh;
        object-fit: cover;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .content h2{
        font-size: 3em;
    }
    .content p{
        font-size: 0.9em;
    }
}

@media (max-width: 426px){
    .content h2{
        font-size: 2.2em;
        margin: 15px;
    }
}

