@font-face {
  font-family: Dealing;
  src: url('./fontes/Dealing-Display-BF67587c76dda92.otf');
}
body{
  margin: 0;
}
:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

h1, .section_title{
  font-family: Dealing, serif;
  color: #000;
  font-feature-settings: 'swsh' on;
  font-weight: 400;
}

.btn{
  border-radius: 40px;
  border: 2px solid #000;
  background: #FFB6C1;
  font-weight: bold;
  padding: 0.8vw 1.5vw;
}


