@font-face {
  font-family: Dealing;
  src: url('/fontes/Dealing.woff2') format('woff2'),
       url('/fontes/Dealing.woff') format('woff'),
       url('/fontes/Dealing.otf') format('opentype');
      font-weight: normal; /* ou 'normal' */
      font-style: normal;
      font-display: swap;
}
html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #F2F4DF;
}

h1, .section_title{
  font-family: Dealing, serif;
  color: #000;
  font-feature-settings: 'swsh' on;
  font-weight: 400;
}
a {
  text-decoration: none; 
  color: #000; 
  -webkit-tap-highlight-color: transparent; 
}




