@font-face {
  font-family: Dealing;
  src: url('./fontes/Dealing-Display-BF67587c76dda92.woff2') format('woff2'),
       url('./fontes/Dealing-Display-BF67587c76dda92.woff') format('woff'),
       url('./fontes/Dealing-Display-BF67587c76dda92.otf') format('opentype');
}
html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #F2F4DF;
}

h1, .section_title{
  font-family: Dealing, serif;
  color: #000;
  font-feature-settings: 'swsh' on;
  font-weight: 400;
}




