.hero {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 100%;
    height: 90vh;
    max-width: 100%;
    justify-content: end;
    margin-bottom: 10vh;
}

.btn{
    border: 2px solid #000000;
    box-shadow:
    inset 0 0 0 3px #E6CB7E,
    inset 0 0 0 5px #000;
    align-self: flex-start;
    padding: 2vw 4vw;
    border-radius: 40px;
    background: #FFB6C1; 
    margin:35px auto 40px 6.5vw;
    font-size: clamp(1em,1.4vw,1.4em);
    font-weight: bold;
    text-transform: capitalize;
}

.bg_img{
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.hero .title_area{
    margin-bottom: 0px;
    padding-top: 1.6vw;
    flex-shrink: 1;
    position: relative;
    margin-left: 8.8vw;
}
.hero .title_area h1 {
    font-size: clamp(7rem, 12vw, 12.5rem);
    max-width: 100%;
    overflow-wrap: break-word;
    margin: 0;
    line-height: 0.7;
    font-feature-settings: 'salt' on, 'swsh' on;
    
}
.hero h1:first-letter{
    font-size: 2em;
} 

.hero .title_area h2{
    position: absolute;
    line-height: 1;
    font-size: 2.5vw;
    top: 0;
    left: 10vw;
    margin: 0;
    display: inline-block;
    width: 34vw;
}

@media ( max-width:860px ) {
    .hero{
        height: 60vh;
    }
    .hero .title_area h1{
        font-size: 5em;
    }
    .hero .title_area h2{
        font-size: 1.2em;
        width: 15em;
    }
}
@media ( max-width: 560px) {
    .hero .title_area {
        margin-left: 3.5em;
    }
    .hero .title_area h2{
        width: 12em;
        left: 4em;
    }
}
@media ( max-width: 435px ){
    .hero .title_area h1{
        font-size: 3.5em;
    }
    .hero .title_area h2{
        left: 3em;
        top: -0.5em;
    }
}
@media (max-width: 364px){
    .hero .title_area h2{
        left: 3em;
        width: 10em;
        top: -2em;
    }
    .hero .title_area{
        margin-left: 2.5em;
    }
}
