.section{
    background-color: #F2F4DF;
    padding: 10vh 0;
}

.collection_name {
    font-size: 3.2vw;
    padding-left: 5vw;
    margin: 0;
    margin-bottom: 6vh;
}

.display {
    margin: 15vh 0;
}
.display:first-of-type{
    margin-top: 0;
}
.display:last-of-type{
    margin-bottom: 0;
}

@media(max-width:860px){
    .collection_name{
        font-size: 3em;
        padding-left: 1em;
    }
}
@media (max-width:426px){
    .collection_name{
        font-size: 2em;
        
    }
}