.all_btns {
  border-radius: 40px;
  border: 2px solid #000;
  background: #FFB6C1;
  font-weight: bold;
  padding: 0.8vw 1.5vw;
}

.all_btns:hover{
    background-color: #F76379;
}


.hero {
    border: 2px solid #000000;
    box-shadow:
    inset 0 0 0 3px #E6CB7E,
    inset 0 0 0 5px #000;
    align-self: flex-start;
    padding: 2vw 4vw;
    border-radius: 40px;
    background: #FFB6C1; 
    margin:35px auto 40px 6.5vw;
    font-size: clamp(1em,1.4vw,1.4em);
    font-weight: bold;
    text-transform: capitalize;
}

.sobre_home {
    margin-top: 2vw;
    font-size: 1em;
}

.produtos_home {
    margin-top: 3%;
    align-self: center;
    font-size: 1.4vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.sobre {
    margin-top: 10vh;
    font-size: 1.3em;
    padding-left: 5vw;
    padding-right: 5vw;
}