.all_btns {
  border-radius: 40px;
  border: 2px solid #000;
  background: #FFB6C1;
  font-weight: bold;
  padding: 0.8vw 1.5vw;
}

.all_btns:hover{
    background-color: #F76379;
}


.hero {
    border: 2px solid #000000;
    box-shadow:
    inset 0 0 0 3px #E6CB7E,
    inset 0 0 0 5px #000;
    align-self: flex-start;
    padding: 2vw 4vw;
    border-radius: 50px;
    background: #FFB6C1; 
    margin:35px auto 40px 6.5vw;
    font-size: clamp(1.2em,1.5vw,1.6em);
    font-weight: bold;
    text-transform: capitalize;
}

.sobre_home {
    margin-top: 2vw;
    font-size: 1em;
}

.produtos_home {
    margin-top: 3%;
    margin-bottom: 0;
    align-self: center;
    font-size: 1.4vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.sobre {
    margin-top: 10vh;
    margin-bottom: 0;
    font-size: 1.3em;
    padding-left: 5vw;
    padding-right: 5vw;
}

@media(max-width:1250px) {
    .produtos_home{
        font-size: 1.2em;
        margin-top:40px;
    }
}

@media (max-width: 860px) {
    .hero{
        font-size: 1em;
        padding: 1em 1.5em;
    }
    .sobre_home{
        margin: auto;
        margin-top: 5px;
        padding: 10px;
    }
    .produtos_home{
        padding: 10px 10vw;
    }
    .sobre{
        padding: 0.5em 3em;
    }
}
@media (max-width: 460px) {
    .sobre_home, .produtos_home{
        font-size: 0.9em;
    }
    .sobre{
        font-size: 1em;
    }
    
}
@media (max-width: 364px){
    .hero {
        font-size: 0.9em;
    }
}