.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    border: 3px solid #000;
    box-shadow: -20px -20px 40px 0 #fff0ae, 20px 20px 20px 0 #fff0ae;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
}

.form h3 {
    font-feature-settings: 'swsh' on;
    font-family: Dealing, serif;
    font-size: 4.5em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1.2vh;
}

.form h4 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5vh;
}

.form .grupo_input, button {
    margin: 3vh 0;
}

.form input, textarea {
    width: 100%;
    height: 6vh;
    border-radius: 20px;
    border: 2px solid #000;
    background: transparent;
    color: #000;
    font-family: 'Inter';
    font-size: 1em;
    padding: 0 1rem;
    outline: none;
}

.form input:focus~label, .form input:not(:placeholder-shown)~label, .form textarea:focus~label, .form textarea:not(:placeholder-shown)~label{
    top: 0;
    background-color: #F2F4DF;
    font-size: 0.7rem;
}

.form .grupo_input{
    width: 80%;
    position: relative;
}

.grupo_input label {
    color: #848383;
    padding: 0 5px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 1em;
    pointer-events: none;
    transition: .3s;
}

.grupo_input textarea~label{
    top: 25%; 
}

.form .form_btn{
    font-size: 1em;
    margin-bottom: 0;
    border-radius: 40px;
    border: 2px solid #000;
    background: #FFB6C1;
    font-weight: bold;
    padding: 0.8vw 4vw;
}

.form .form_btn:hover{
    box-shadow:
    inset 0 0 0 1px #000;
}
